cumulativeRainfall.Rproj
.Rproj.user
AgriCumulativeRainfallNormals.R
calc10yearAverage_DailyRain.R
calc30yearNormals_DailyRain.R
cumulative10yearAverage_DailyRain.R
ProcessLoaded10yearRainfallData.R
server.R
ui.R
