cumulativeRainfall.Rproj
.Rproj.user
refdataKahuterawa at Scotts Road.RData
refdataAkitio at Toi Flat.RData
refdataForest Rd Drain at Drop Structure.RData
refdataKumeti at Rua Roa.RData
refdataMakino at Cheltenham.RData
refdataMakino at Halcombe Road.RData
refdataMakuri at Bee 4 Trig.RData
refdataManawatu at Apiti Track.RData
refdataManawatu at Moutoa.RData
refdataMangaetoroa at Scarrows.RData
refdataMangahao at Kakariki.RData
refdataMangaone at Milson Line.RData
refdataMangaone at Valley Road.RData
refdataMangatainoka at Hillwood Hukanui.RData
refdataMatarawa at Matarawa Valley.RData
refdataOhura at Tokorima.RData
refdataOroua at Feilding.RData
refdataOroua at Rangiwahia.RData
refdataPohangina at Alphabet Hut.RData
refdataPohangina at Delaware Ridge.RData
refdataPohangina at Makawakawa Divide.RData
refdataTamaki at Tamaki Reserve.RData
refdataTiraumea at Alfredton.RData
refdataUpper Mangahao at No.1 Dam.RData
refdataWhangaehu at Tukino Repeater.RData
refdataWhanganui at Pipiriki.RData
refdataWhanganui at Te Porere.RData
tmp1.R
refdataKawhatau Catchment at Upper Kawhatau.RData
